[Unit]
Description=A REST proxy for Apache Kafka
Documentation=http://docs.confluent.io/
After=network.target confluent-kafka.target

[Service]
Type=simple
User=confluent
Group=confluent
Environment="JAVA_HOME=/opt/java"
Environment="LOG_DIR=/opt/confluent/log/kafka-rest"
ExecStart=/opt/confluent/bin/kafka-rest-start /opt/confluent/conf/kafka-rest/kafka-rest.properties
LimitNOFILE=100000
TimeoutStopSec=180
Restart=no

[Install]
WantedBy=multi-user.target
